<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.watertracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>喝水打卡</name>
    <description>
        一个简洁美观的喝水打卡应用，帮助你养成良好的喝水习惯。记录每次喝水时间，统计今日喝水次数。
    </description>
    <author email="your@email.com" href="">
        Your Name
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
